@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* CSS Document */
body, td, th, p { /*ok*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #333333;
	line-height: 1.5;
}
body { /*ok*/
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}
ul, li { /*ok*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
  color: #333333;
  text-align: justify;
}
a { /*ok*/
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus { /*ok*/
  color: #f18200;
  text-decoration: underline overline;
}
a img { /*ok*/
	border: none 0 #ffffff;
}
h1, h2, h3, h4, h5, h6 { /*ok*/
  font-family: 'Montserrat', sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { /*ok*/
	display: block;
}
#maincontent { /*ok*/
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer { /*ok*/
  background-color: #444444;
  color: #aaaaaa;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}
#footer a { /*ok*/
  color: #f18200;
}
/* ====================== Navigation ====================== */
nav { /*ok*/
  width: 100%;
  height: 5rem;
  background-color: #252831;
  text-align: center;
}
nav h1 { /*ok*/
  margin: auto;
  line-height: 5rem;
}
nav h1 a { /*ok*/
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li { /*ok*/
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before { /*ok*/
    padding: 0.2rem;
    color: #000000;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a { /*ok*/
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover { /*ok*/
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map { /*ok*/
  height: 25rem;
  width: 100%;
  background-color: #cccccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options { /*ok*/
  width: 100%;
  height: 10rem;
  align-items: center;
  background-color: #cccccc;
}
.filter-options h2 { /*ok*/
  background-color: #333333;
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: 0;
  text-align: center;
}
.filter-options .row { /*ok*/
  box-sizing: border-box;
  padding: 0 2rem 0 2rem;
}
.filter-options .row:after { /*ok*/
  content: "";
  display: table;
  clear: both;
}
.filter-options .column { /*ok*/
  float: left;
  width: 50%;
}
@media screen and (max-width: 550px) { /*ok*/
  .filter-options {
    height: 15rem;
  }
  .filter-options .column {
      width: 100%;
  }
}
.filter-options select { /*ok*/
  background-color: #ffffff;
  border: 0.1rem solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  height: 2.5rem;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 0.5rem;
  width: 12rem;
  cursor: pointer;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {  /*ok*/
  background-color: #f3f3f3;
  text-align: center;
  list-style-type: none;
  margin-left: -2rem;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li { /*ok*/
  background-color: #ffffff;
  border: 0.1rem solid #cccccc;
  font-family: 'Montserrat', sans-serif;
  margin: 1.5rem;
  min-height: 15rem;
  padding: 0 2rem 2rem;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 685px) {
  #restaurants-list li {
    width: calc(50% - 7.5rem);
  }
}

#restaurants-list .restaurant-img { /*ok*/
  background-color: #cccccc;
  display: block;
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
  text-align: center;
}
#restaurants-list li h1 { /*ok*/
  color: #f18200;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
#restaurants-list p { /*ok*/
  margin: 0;
  font-size: 0.95rem;
}
#restaurants-list li a { /*ok*/
  background-color: #f18200;
  color: #ffffff;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1.5rem 0 0;
  padding: 0.6rem 2rem 0.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus { /*ok*/
  background-color: #f16c00;
}

/* ====================== Restaurant Details ====================== */
.inside header { /*ok*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {  /*ok*/
  background: #0000ff none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map { /*ok*/
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}
.inside #footer { /*ok*/
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name { /*ok*/
  color: #f18200;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1.5rem 0 1.5rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img { /*ok*/
  width: 90%;
}
#restaurant-address { /*ok*/
  font-size: 2rem;
  margin: 1rem 0;
}
#restaurant-cuisine { /*ok*/
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  color: #dddddd;
  font-size: 1.2;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin: 0 0 2rem;
  padding: 0.6rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 0.1rem solid #d9d9d9;
  border-top: 0.1rem solid #ffffff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 { /*ok*/
  color: #f18200;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
  padding-bottom: 0.5rem;
}
#reviews-list { /*ok*/
  margin: 0;
  padding: 0;
}
#reviews-list li { /*ok*/
  background-color: #ffffff;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-radius: 2rem 0;
}
.reviewer-name-date { /*ok*/
  background-color: #333333;
  margin: 0;
  line-height: 4rem;
}
.reviewer-name { /*ok*/
  font-size: 1.5rem;
  color:#ffffff;
  margin-left: 2rem;
}
.reviewer-date { /*ok*/
  color: #e2dddd;
  text-shadow: 0 0.1rem #000000;
  float: right;
  margin-right: 2rem;
}
.reviewer-rating { /*ok*/
  margin: 1.25rem 2rem 1rem;
}
.reviewer-rating-badge { /*ok*/
 background-color: #ffbd2f;
 color: #ffffff;
 font-weight: bold;
 text-transform: uppercase;
 border-radius: 0.2rem;
 letter-spacing: 0.1rem;
 padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.reviewer-comments { /*ok*/
  margin: 0 2rem 2rem;
}
#restaurant-hours td { /*ok*/
  color: #666666;
}
