body, td, th, p {
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
	color: #333333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}
ul, li {
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
  color: #333333;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f18200;
  text-decoration: underline overline;
}
a img {
	border: none 0 #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav {
  width: 100%;
  height: 5rem;
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
  line-height: 5rem;
}
nav h1 a {
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444444;
  color: #bbbbbb;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: #ff9e2f;
}
#map {
  height: 25rem;
  width: 100%;
  background-color: #cccccc;
}
.leaflet-container .leaflet-control-attribution {
  background: #ffffff !important;
}
