@charset "utf-8";
/* CSS Document */
body, td, th, p {
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
	color: #333333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}
ul, li {
	font-family: 'Arial', sans-serif;
	font-size: 1rem;
  color: #333333;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f18200;
  text-decoration: underline overline;
}
a img {
	border: none 0 #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444444;
  color: #bbbbbb;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: #ff9e2f;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 5rem;
  background-color: #252831;
  text-align: center;
}
nav h1 {
  margin: auto;
  line-height: 5rem;
}
nav h1 a {
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 445px) {
  nav h1 {
    line-height: 2.5rem;
  }
}
#breadcrumb {
  padding: 1rem 2rem 1rem;
  list-style: none;
  background-color: #eee;
  font-size: 1rem;
  margin: 0;
  width: calc(50% - 4rem);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 0.2rem;
  color: #000000;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0264ba;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 25rem;
  width: 100%;
  background-color: #cccccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 10rem;
  align-items: center;
  background-color: #cccccc;
}
.filter-options h2 {
  background-color: #333333;
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: 0;
  text-align: center;
}
.filter-options .row {
  box-sizing: border-box;
  padding: 0 2rem 0 2rem;
}
.filter-options .row:after {
  content: "";
  display: table;
  clear: both;
}
.filter-options .column {
  float: left;
  width: 50%;
}
@media screen and (max-width: 550px) {
  .filter-options {
    height: 15rem;
  }
  .filter-options .column {
    width: 100%;
  }
}
.filter-options select {
  background-color: #ffffff;
  border: 0.1rem solid #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 0.95rem;
  height: 2.5rem;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 0.5rem;
  width: 12rem;
  cursor: pointer;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  text-align: center;
  list-style-type: none;
  margin-left: -2rem;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #ffffff;
  border: 0.1rem solid #cccccc;
  font-family: 'Arial', sans-serif;
  margin: 1.5rem;
  min-height: 15rem;
  padding: 0 2rem 2rem;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 685px) {
  #restaurants-list li {
    width: calc(50% - 7.5rem);
  }
}

#restaurants-list .restaurant-img {
  background-color: #cccccc;
  display: block;
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
  text-align: center;
}
#restaurants-list li h3 {
  color: #b15f00;
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.95rem;
}
#restaurants-list li a {
  background-color: #b15f00;
  color: #ffffff;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #f16c00;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: #0000ff none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 5rem;
  width: 50%;
}
.inside #map {
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  width: 50%;
}
#restaurant-name {
  color: #b15f00;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10rem 0 1.5rem;
  text-transform: uppercase;
  line-height: 1.1;
  padding-left: 2rem;
}
#restaurant-img {
  transition: width 0.5s;
  width: 50vw;
}
@media screen and (max-width: 684px) {
  #restaurant-img {
    width: 100vw;
  }
}
#restaurant-address {
  font-size: 2rem;
  padding-left: 2rem;
}
#restaurant-hours {
  padding-left: 2rem;
}
#restaurant-cuisine {
  font-family: 'Arial', sans-serif;
  background-color: #333333;
  color: #dddddd;
  font-size: 1.2;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin: 0 0 2rem 2rem;
  padding: 0.6rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container,
#reviews-container,
#form-container {
  border-bottom: 0.1rem solid #d9d9d9;
  border-top: 0.1rem solid #ffffff;
  width: 50%;
}
#reviews-container h3,
#form-container h3 {
  color: #b15f00;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
  padding-left: 2rem;
}
#reviews-list {
  margin: 0;
  padding-left: 2rem;
}
#reviews-list li {
  background-color: #ffffff;
  display: block;
  list-style-type: none;
  margin: 0 0 3rem;
  overflow: hidden;
  position: relative;
  width: 95%;
  border-radius: 2rem 0;
}
.reviewer-name-date {
  background-color: #333333;
  margin: 0;
  line-height: 3rem;
}
.reviewer-name {
  font-size: 1.5rem;
  color:#ffffff;
  margin-left: 2rem;
}
.reviewer-date {
  display: block;
  color: #e2dddd;
  text-shadow: 0 0.1rem #000000;
  float: right;
  margin-right: 2rem;
}
.reviewer-rating {
  margin: 1.25rem 2rem 1rem;
}
.reviewer-rating-badge {
 background-color: #bc5a00;
 color: #ffffff;
 font-weight: bold;
 text-transform: uppercase;
 border-radius: 0.2rem;
 letter-spacing: 0.1rem;
 padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.reviewer-comments {
  margin: 0 2rem 2rem;
}
.reviewer-offline-info {
  background-color: #c30000;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
}
#restaurant-hours td {
  color: #666666;
}
#review-form {
  padding-left: 2rem;
}
#review-author-label,
#review-author,
#review-comment-label,
#review-comment {
  display: block;
}
#review-author,
#review-comment,
#rating-radiogroup,
#submit-btn,
#reset-btn,
#validation-error {
  margin-bottom: 1rem;
}
#rating-radiogroup input {
  cursor: pointer;
}
#review-comment{
  width: 50%;
  height: 10rem;
}
#submit-btn,
#reset-btn {
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.2rem;
  height: 1.5rem;
}
#submit-btn {
  background-color: #b15f00;
}
#submit-btn:hover, #submit-btn:focus {
  background-color: #f18200;
}
#reset-btn {
  background-color: #c30000;
}
#reset-btn:hover, #reset-btn:focus {
  background-color: #ff0000;
}
#validation-error {
  color: #ff0000;
  font-size: 0.8rem;
}
@media screen and (max-width: 820px) {
  .reviewer-date {
    float: none;
    margin-left: 2rem;
  }
  .reviewer-name-date {
    height: 6rem;
  }
}
@media screen and (max-width: 700px) {
  .inside #footer,
  .inside #map-container,
  #restaurant-container,
  #reviews-container,
  #form-container,
  #breadcrumb {
    width: 100%;
  }
  .inside #map-container {
    height: 15rem;
    position: relative;
    top: 8rem;
  }
  #reviews-list,
  #reviews-list li {
    overflow-x: hidden;
  }
  .reviewer-date {
    float: right;
    margin-left: 0;
  }
  .reviewer-name-date {
    height: unset;
  }
}
@media screen and (max-width: 380px) {
  .reviewer-date {
    float: none;
    margin-left: 2rem;
  }
  .reviewer-name-date {
    height: 6rem;
  }
}
/* ====================== Favorite button ====================== */
.fav-btn {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  outline: none;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 1.5rem;
  float: right;
}
.is-favorite {
  color: #ffffff;
  background-color: #c30000
}
.is-not-favorite {
  color: #333333;
  background-color: #dddddd;
}
